a=100

In [ ]:
##variables 

a=100
age=32
name="Achyut"

print("age",age)
print("name",name)

age 32
name Achyut

In [ ]:
##naming convention
## variable name should be descreptive
## variables names are case senstitive

#valid variable name
first_name="Achyut"
second_name="Srivastava"

print("Full Name is : ",first_name,second_name)

Full Name is :  Achyut Srivastava

In [3]:
#understanding variable type

## python is dynamically typed, typed means type of variable defined at run time

age=29 #during runtime it will know that it is integer type

height=6.3 #float
name="Achyut" #string

print(type(name))
print(type(height))

<class 'str'>
<class 'float'>

In [6]:
# type checking and type conversion

age=25
print(type(age))

#type conversion

age_str=str(age) #this will convert age from integer into string

print(type(age_str))
print(age_str)

<class 'int'>
<class 'str'>
25

In [7]:
## we cannot convert string into int

height=6.11
print(type(height))
heigh=int(height)
print(heigh)

<class 'float'>
6

In [8]:
#dynamic typping
## python allows the type of variable to change as the program executes
var=10 
print(var,type(var))

var="hello"
print(var,type(var))

10 <class 'int'>
hello <class 'str'>

In [ ]:
# input

age=input("what is the age")
print(age)
type(age)

52

In [10]:
## calculator

num1=float(input("Enter your first number"))
num2=float(input("enter your second number"))

sum=num1+num2
difference=num1-num2
multiply=num1*num2
divide=num1/num2

print(sum)
print(difference)
print(multiply)
print(divide)

79.0
11.0
1530.0
1.3235294117647058