The map() function applies a given function to all items in an input list(or any other iterable) anad returns a map object. This is particularly useful for transforming data in a lsit comprehenively

In [3]:
def square(x):
    return x*x

square(4)

16

In [ ]:
numbers=[1,2,3,4,5,6,7]

list(map(square,numbers))

[1, 4, 9, 16, 25, 36, 49]

In [7]:
##lambda function with map

numbers=[1,2,3,4,5,6,7]
list(map(lambda x:x*x,numbers))

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
### map multiple iterables

numbers1=[1,2,3]
numbers2=[4,5,6]

added_numbers=list(map(lambda x,y:x+y,numbers1,numbers2))
print(added_numbers)  ##[5,7,9]

[5, 7, 9]

In [10]:
words=['apple','mango','banana']
upper_word=list(map(str.upper,words))
print(upper_word)

['APPLE', 'MANGO', 'BANANA']